<div class="card">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
    <img src="/static/img_avatar2.png" alt="Avatar" />
            </div>
            <div class="flip-card-back">
    <img src="/static/img_avatar2.png" alt="Avatar" />
            </div>
        </div>
    </div>
    <div class="card-container" style="text-align: center;">
        <p>Title Title Title Title Title Title Title Title</p>
        <p class="price">$100 CAD</p>
    </div>
</div>