{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/cart.css" />
{% endblock %} {% block main %}
<div class="row">
    <h1 class="title text-center">Cart</h1>
</div>
<table id="cart">
    <thead>
        <tr>
            <td colspan="2" class="product-head">Product</td>
            <td class="discount-cell">Discount</td>
            <td class="quantity-cell">Quantity</td>
            <td class="total-cell">Total</td>
        </tr>
    </thead>
    <tbody id="products">
    </tbody>
</table>

<div id="cart-bottom">
    Total: $<span id="total_price">0</span><br>
    <button class="btn btn-black" onclick="location.href='/checkout'">CHECKOUT</button>
</div>

<script src="/static/js/cart.js"></script>
<script>fetch_products()</script>
{% endblock %}

