{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/cart.css" />
{% endblock %} {% block main %}

<table id="cart">
    <thead>
        <tr>
            <td colspan="2" class="product-head">Product</td>
            <td class="quantity-cell">Quantity</td>
            <td class="total-cell">Total</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="img-cell">
                <img class="product-img" src="/static/hoodie_black.webp" alt="Hoodie">
            </td>
            <td class="info-cell">
                TITLE<br>Description<br>200$
            </td>
            <td class="quantity-cell">
                <button class="quantity-btn">-</button>
                <input type="text" name="quantity" id="quantity" value="1">
                <button class="quantity-btn">+</button>
            </td>
            <td class="total-cell">
                $200
            </td>
        </tr>

        <tr>
            <td class="img-cell">
                <img class="product-img" src="/static/hoodie_black.webp" alt="Hoodie">
            </td>
            <td class="info-cell">
                TITLE<br>Description<br>200$
            </td>
            <td class="quantity-cell">
                <button class="quantity-btn">-</button>
                <input type="text" name="quantity" id="quantity" value="1">
                <button class="quantity-btn">+</button>
            </td>
            <td class="total-cell">
                $200
            </td>
        </tr>

    </tbody>
</table>

{% endblock %}