{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/checkout.css" />
{% endblock %} {% block main %}
<form id="form" action="" method="POST">
    <div class="row">
        <h2>Shop</h2>
    </div>
    <div class="row">
        <div class="column"><input type="text" name="f_name" placeholder="First Name" required></div>
        <div class="column"><input type="text" name="l_name" placeholder="Last Name"></div>
    </div>
    <div class="row">
        <div class="column"><input type="email" name="email" placeholder="Email Address" required></div>
    </div>
    <div class="row">
        <div class="column"><input type="text" name="address" placeholder="Full Address" required></div>
    </div>
    <div class="row">
        <div class="column"><input type="text" name="city" placeholder="City" required></div>
        <div class="column"><input type="text" name="postal_code" placeholder="Postal Code" required></div>
    </div>
    <div class="row">
        <div class="column"><input type="text" name="phone" placeholder="Phone" required></div>
    </div>
    <div class="row" style="margin: 8px 3px;">
        <div class="column">
            <a href="/cart">
                <i class="fa-thin fa-arrow-left"></i>
                Return to cart
            </a>
        </div>
        <div class="column" style="align-items: last baseline;">
            <button class="btn btn-black" name="shop">SHOP</button>
        </div>
    </div>
</form>
{% endblock %}