{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/checkout.css" />
{% endblock %} {% block main %}

<script src="https://www.paypal.com/sdk/js?client-id={{client_id}}&currency={{currency}}"></script>

<div class="row">
    <h1>Shop</h1>
</div>
<div id="form">
    <div class="row input-row">
        <div class="column"><input class="form-input" type="text" name="f_name" id="f_name" placeholder="First Name" value="{{user.f_name}}" required></div>
        <div class="column"><input class="form-input" type="text" name="l_name" id="l_name" placeholder="Last Name" value="{{user.l_name}}"></div>
    </div>
    <div class="row input-row">
        <div class="column"><input class="form-input" type="email" name="email" id="email" placeholder="Email Address" value="{{user.email}}" required></div>
    </div>
    <div class="row input-row">
        <div class="column"><input class="form-input" type="text" name="address" id="address" placeholder="Full Address" value="{{user.address}}" required></div>
    </div>
    <div class="row input-row">
        <div class="column"><input class="form-input" type="text" name="city" id="city" placeholder="City" value="{{user.city}}" required></div>
        <div class="column"><input class="form-input" type="text" name="postal_code" id="postal_code" placeholder="Postal Code" value="{{user.postal_code}}" required></div>
    </div>
    <div class="row input-row">
        <div class="column"><input class="form-input" type="text" name="phone" id="phone" placeholder="Phone" value="{{user.phone}}" required></div>
    </div>
    <div class="row">
        <div class="column">
            <textarea class="form-input" name="note" id="note" cols="30" rows="10" placeholder="You can add any note here for us about your order"></textarea>
        </div>
    </div>
    <div class="row" style="margin: 8px 3px;">
        <div class="column">
            <a href="/cart">
                <i class="fa-thin fa-arrow-left"></i>
                Return to cart
            </a>
        </div>
        <div class="column" style="align-items: last baseline;">
            <button class="btn btn-black" id="shop" onclick="checkout()">CHECKOUT</button>
        </div>
    </div>


<div id="paypal-button-container"><div id="paypal-button"></div></div>
<script src="/static/js/checkout.js"></script>
<script src="/static/js/paypal.js"></script>
{% endblock %}