{% extends "layout.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/home.css">
{% endblock %}
{% block main %}
<div class="row">
    <div class="column women-column">
    <a href="#women">
        <img src="/static/home/fendi-girls.avif" alt="WOMEN" srcset="">
        <h1>Shop Women</h1>
    </a>
    </div>
    <div class="column men-column">
        <a href="#men">
            <img src="/static/home/fendi-boy.avif" alt="MEN" srcset="">
            <h1>Shop Men</h1>
        </a>
    </div>
</div>
{% endblock %}