{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/cards.css" />
{% endblock %} {% block main %}

<div class="row" id="top-row">
  <div class="column women-column">
    <a href="#women">
      <img class="col-img" src="/static/home/fendi-girls.avif" alt="WOMEN" srcset="" />
      <div class="left-bottom">
        <h1 class="title">Shop Women</h1>
      </div>
    </a>
  </div>
  <div class="column men-column">
    <a href="#men">
      <img class="col-img" src="/static/home/fendi-boy.avif" alt="MEN" srcset="" />
      <div class="left-bottom">
        <h1 class="title">Shop Men</h1>
      </div>
    </a>
  </div>
</div>

<!-- Featured Items -->
<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
  <div class="column">
    <h2 style="text-align: center;font-size: 1.5em;">CORE COLLECTION</h2>
  </div>
</div>


<div class="row" id="featured_items">
{% for i in range(core_collection.count()) %}
  <div class="card" onclick="go('/product/{{core_collection[i].id}}')">
      <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <img src="/static/product_images/{{images[i][0]}}" alt="Avatar" />
              </div>
              <div class="flip-card-back">
      <img src="/static/product_images/{{images[i][1]}}" alt="Avatar" />
              </div>
          </div>
      </div>
      <div class="card-container" style="text-align: center;">
          <p>{{core_collection[i].title}}</p>
          <p class="price">${{core_collection[i].price}} CAD</p>
      </div>
  </div>
{% endfor %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
</div>
<div class="row" style="background-color: white;margin-bottom: 10px;">
  <div class="column clm-center">
    <button class="btn btn-black">VIEW ALL</button>
  </div>
</div>
<!-- Featured Items END -->

<div class="row">
  <div class="column">
    <img class="col-img" src="/static/home/asrv_runner.webp" alt="RUNNER" />
    <div class="left-bottom">
      <h1 class="title">CORE COLLECTION</h1>
      <label>TECHNICAL. VERSATILE. DURABLE</label><br />
      <button class="btn best-seller">SHOP BESTSELLERS</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <img class="col-img" src="/static/home/artisanalline.jpg" alt="Line Of Beauty" />
    <div class="left-bottom">
      <h1 class="title">A Line of Beauty</h1>
      <label>TECHNICAL. VERSATILE. DURABLE</label><br />
      <button class="btn-transparent ">Discover More</button>
    </div>
  </div>
</div>
<!-- <script>
  $(function() {
  $('#top-row').hover(function() {
    $('#featured_items').css('background-color', 'yellow');
  }, function() {
    // on mouseout, reset the background colour
    $('#featured_items').css('background-color', '');
  });
});
</script> -->
{% endblock %}
