{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/cards.css" />
{% endblock %} {% block main %}

<div class="row" id="top-row">
  <div class="column women-column">
    <a href="/category/women/search">
      <img class="col-img" src="/static/home/fendi-girls.avif" alt="WOMEN" srcset="" />
      <div class="left-bottom">
        <h1 class="title">Shop Women</h1>
      </div>
    </a>
  </div>
  <div class="column men-column">
    <a href="/category/men/search">
      <img class="col-img" src="/static/home/fendi-boy.avif" alt="MEN" srcset="" />
      <div class="left-bottom">
        <h1 class="title">Shop Men</h1>
      </div>
    </a>
  </div>
</div>

<!-- VIDEO -->
<div class="row">
  <div class="column">
    <video autoplay="" muted="" playsinline=""  src="/static/home/grabalty.mp4" id="grabalty-video"></video>
  </div>
</div>

<!-- Featured Items -->
<div class="row" style="margin-top: 20px;margin-bottom: 20px;">
  <div class="column">
    <h2 class="title">Main Collection<br>Niche Athleisure Style</h2>
  </div>
</div>

<div class="row" id="featured_items">
{% for i in range(main_collection|length) %}
  <div class="card" onclick="go('/product/{{main_collection[i]['id']}}')">
      <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <img src="/static/product_images/{{images[i][0]}}" alt="Avatar" />
              </div>
              <div class="flip-card-back">
      <img src="/static/product_images/{{images[i][1]}}" alt="Avatar" />
              </div>
          </div>
      </div>
      <div class="card-container" style="text-align: center;">
          <p class="card-title">{{main_collection[i]['title']}}</p>
          <p class="card-price">${{main_collection[i]['price']}} CAD</p>
      </div>
  </div>
{% endfor %}
{#% for i in range(8) %}
  {% include 'card.html' %}
{% endfor %#}
</div>
<div class="row" style="background-color: white;margin-bottom: 10px;">
  <div class="column clm-center">
    <button class="btn btn-black" onclick="go('/core_collection')">VIEW ALL</button>
  </div>
</div>
<!-- Featured Items END -->

<div class="row">
  <div class="column">
    <img class="col-img" src="/static/home/asrv_runner.webp" alt="RUNNER" />
    <div class="left-bottom grey">
      <h1 class="title">CORE COLLECTION</h1>
      <label>TECHNICAL. VERSATILE. DURABLE</label><br />
      <button class="btn best-seller" onclick="go('/core_collection')">SHOP BESTSELLERS</button>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="column">
    <img class="col-img" src="/static/home/artisanalline.jpg" alt="Line Of Beauty" />
    <div class="left-bottom grey">
      <h1 class="title">A Line of Beauty</h1>
      <label>TECHNICAL. VERSATILE. DURABLE</label><br />
      <button class="btn-transparent" onclick="go('/search')">Discover More</button>
    </div>
  </div>
</div> -->
<script src="/static/js/home.js"></script>
{% endblock %}
