{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/cards.css" />
<link rel="stylesheet" href="/static/css/items.css" />
<link rel="stylesheet" href="/static/css/pagination.css" />
{% endblock %} {% block main %}
<h1 class="searched">
    {{search}}<sup>{{count}}</sup>
</h1>

<div class="row" id="featured_items">
{% for i in range(products.items | length) %}
  <div class="card" onclick="go('/product/{{products.items[i].id}}')">
      <div class="flip-card">
          <div class="flip-card-inner">
              <div class="flip-card-front">
      <img src="/static/product_images/{{images[i][0]}}" alt="Avatar" />
              </div>
              <div class="flip-card-back">
      <img src="/static/product_images/{{images[i][1]}}" alt="Avatar" />
              </div>
          </div>
      </div>
      <div class="card-container" style="text-align: center;">
          <p class="card-title">{{products.items[i].title}}</p>
          <p class="card-price">${{products.items[i].price}} CAD</p>
      </div>
  </div>
{% endfor %}
</div>

<div class="row" style="background-color: white;margin-bottom: 10px;">
    <div class="column clm-center">
        <!-- <button class="btn btn-black">VIEW MORE</button> -->
        <div class="pagination">
            {% for i in products.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                {% if i == products.page %}
                    <button class="btn active">
                {% else %}
                    <button class="btn link" onclick="page_go('{{i}}')">
                {% endif %}
                {% if i == None %}
                    ...
                {% else %}
                    {{i}}
                {% endif %}
                </button>
            {% endfor %}
        </div>
    </div>
</div>


<script>
    const searched = "{{search}}"
    const page_name = "{{page_name}}"

    function page_go(num) {
        let url = `${page_name}/${num}?search_input=${searched}`
        if (url[0] != '/')
            url = '/' + url
        if (num != "None")
            window.location.href = url
    }
</script>
{% endblock %}
