{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/cards.css" />
<link rel="stylesheet" href="/static/css/items.css" />
{% endblock %} {% block main %}
<h1 class="searched">
    Hoodies<sup>100</sup>
</h1>

<div class="row" id="featured_items">
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
  {% include 'card.html' %}
</div>

<div class="row" style="background-color: white;margin-bottom: 10px;">
  <div class="column clm-center">
    <!-- <button class="btn btn-black">VIEW MORE</button> -->
  </div>
</div>

{% endblock %}
