<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/header.css">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <script src="/static/jquery.min.js"></script>
    <title>{{TITLE}}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <section id="header">
        <nav id="nav" class="nav">
            <ul class="nav-left">
                <li class="nav-item-logo">
                    <span></span>
                    <a href="#home" style="border: none;padding: 0;">
                        <img src="/static/GRABALTY.png" class="nav-logo" alt="LOGO">
                    </a>
                    <a href='#nav-toogle' class="btn-toogle-nav" onclick="toggleNav()"><i class="far fa-bars"></i></a>
                </li>
                <li><a href="#women">women</a></li>
                <li><a href="#men">men</a></li>
                <li><a href="#kids">kids</a></li>
            </ul>
            <ul class="nav-right">
                <li><a href="#search-products" onclick="show_search()">search</a></li>
                <li><a href="#cart">
                    <i class="fa-regular fa-bag-shopping fa-lg"></i>
                </a></li>
            </ul>
        </nav>
        <div id="search">
            <!-- <div class="line"></div> -->
            <div class="row">
                <div class="column-2">
                    <input type="text" placeholder="SEARCH" id="search_input">
                </div>
                <div class="column-1">
                    <a href='#search' id="btn-search"><i class="far fa-search"></i></a>
                </div>
                <div class="column-3"><a href="#close" onclick="hide_search()"><i class="fal fa-times"></i></a></div>
            </div>
        </div>
        <nav id="nav2" class="nav">
            <ul class="nav-left">
                <li class="nav-item-logo">
                    <span></span>
                    <a href="#home" style="border: none;padding: 0;">
                        <img src="/static/GRABALTY.png" class="nav-logo" alt="LOGO">
                    </a>
                    <a href='#nav-toogle' class="btn-toogle-nav" onclick="toggleNav()"><i class="far fa-bars"></i></a>
                </li>
            </ul>
        </nav>
    </section>
<main id="container">
    {% block main %}
    {% endblock %}
</main>
    <section id="footer">
        <div class="paragraph">
            <h2>About Us:</h2>
            <em>
                To radiate a lifestyle worthy of Prestige and Royalty. Our priorities are to cater to a growing generation with shared cultures and values. Grabalty takes pride in creating products with impeccable craftsmanship, artistry and attention to detail.
            </em>
        </div>
        <div class="paragraph">
            <h3 class="contact_us">Contact us:</h3>
            <a href="grabaltyofficial@gmail.com">grabaltyofficial@gmail.com</a> <br>
            <a href="Instagram@grabaltyofficial">Instagram@grabaltyofficial</a>
        </div>
        <div class="paragraph"></div>
        <div class="copyright">
            © <span id="copyright-year"></span>, Grabalty
        </div>
    </section>
    <script>
        function setCopyrightYear() {
            const d = new Date();
            let year = d.getFullYear();
            $("#copyright-year")[0].innerText = year
        }
        setCopyrightYear()
    </script>
    <script src="/static/header.js"></script>
</body>
</html>