{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/product.css" />
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %} {% block main %}

<div class="row" style="margin-bottom: 30px;">
    <div class="column column-left">
        <div class="carousel">
            <div class="carousel-cell"><img data-flickity-lazyload="/static/products/Shirt_Ivory1.webp" alt=""></div>
            <div class="carousel-cell"><img data-flickity-lazyload="/static/products/Shirt_Ivory2.webp" alt=""></div>
            <div class="carousel-cell"><img data-flickity-lazyload="/static/products/Shirt_Ivory3.webp" alt=""></div>
            <div class="carousel-cell"><img data-flickity-lazyload="/static/products/Shirt_Ivory4.webp" alt=""></div>
        </div>

    </div>
    <div class="column column-right">
        <div class="title">0822. Silver-Lite™ 2.0 Oversized Tee - Ivory Cream</div>
        <div class="price">100 CAD</div>
        <div class="details">
            

*Updated Fit: This shirt is designed with our new size specs, intended to give a truly oversized fit while taking your regular size. If you have purchased this shirt in the past and desire the same fit, we recommend taking a size down (i.e. if you took a Large, we recommend taking a Medium to achieve the same fit). 
<br>
Oversized hybrid training shirt constructed from Supima®, the world’s finest cotton. Supima® is incredibly soft and gets softer with each wash. We have combined with spandex to add stretch and finished it with Polygiene® anti-odor technology for performance. The shirt features a double-layer hex yoke seam across the upper back for durability in a high-movement area and side splits for increased range of motion. Complete match-color “only those who risk are free” text down the side body. 
<br>
Model is 5’11 170lbs and usually wears size M. This shirt is designed with an intentionally oversized fit, so he is wearing size M to achieve an oversized look.

        </div>
        <button class="btn btn-black">ADD TO CART</button>
    </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    
    var elem = document.querySelector('.carousel');
    var flkty = new Flickity( elem, {
        // options
        lazyLoad: true,
        cellAlign: 'center',
        contain: true
    });
</script>
{% endblock %}