{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/product.css" />
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %} {% block main %}

<div class="row" style="margin-bottom: 30px;">
    <div class="column column-left">
        <div class="carousel">
            {% for img in images %}
                <div class="carousel-cell"><img class="cell-img" data-flickity-lazyload="/static/product_images/{{img}}" alt="img"></div>
            {% endfor %}
        </div>

    </div>
    <div class="column column-right">
        <div class="title">{{product.title}}</div>
        <div class="price">{{product.price}} CAD</div>
        <div class="details">
            {{product.details}}
        </div>
        <button class="btn btn-black">ADD TO CART</button>
    </div>
</div>

<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script>
    
    var elem = document.querySelector('.carousel');
    var flkty = new Flickity( elem, {
        // options
        lazyLoad: true,
        cellAlign: 'center',
        contain: true
    });
</script>
{% endblock %}