* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: FoundersGrotesk;
    src: url("/static/FoundersGrotesk-Regular.otf") format("opentype");
}

#container {
    margin: 0px;
}

#header {
    /* padding: 10px 0px; */
    /* padding-top: 10px; */
    font-family: "FoundersGrotesk";
}

/* <------- NAVBAR ------> */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px rgba(92, 92, 92, 0.7);
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
}

ul.nav-left {
    align-items: center;
}

nav li {
    vertical-align: center;
    margin-left: 10px;
}
nav a {
    text-decoration: none;
    color: black;
    padding: 20px 10px;
    transition: border-bottom-color 250ms ease;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}
nav a:hover {
    border-bottom-color: black;
}
#nav-logo {
    max-width: 150px;
}

/* NAVBAR END */


/* <------ SEARCH ------> */
.fa-search, .fa-times {
    font-size: 20px;
    color: black;
}

#search {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;
    background-color: whitesmoke;
    width: 100%;
    z-index: -1;
    transform: translateY(-70px);
    transition-property: transform;
    transition-duration: 500ms;
    box-shadow: 0 5px 15px rgba(92, 92, 92, 0.7);
}

#search .line {
    width: 100%;
    background-color: rgb(145, 145, 145);
    height: 3px;
}

#search .row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    margin: 10px;
}

#search .column-1, .column-3 {
    margin-left: 10px;
}
#search .column-2 {
    width: 100%;
}

#btn-search {
    outline: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    border: none;
}

#search_input {
    padding: 10px;
    border: none;
    width: 100%;
    background-color: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: border-color 200ms ease;
    outline: none;
}


#search_input:focus {
    border-color: rgba(0, 0, 0, 1);
}

/* SEARCH END */
