#container {
    margin-top: 0px;
    /* height: 100%; */
    /* position: relative;
    z-index: 0; */
}

a {
    text-decoration: none;
}

.row {
    /* background-color: green; */
    color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    /* align-items: center; */
}

.column {
    display: flex;
    flex-direction: column;
    border: none;
    position: relative;
    /* align-items: center; */
    flex-grow: 1;
    /* flex-shrink: 1; */
}

.clm-center {
    align-items: center;
}

.column img {
    width: 100%;
    height: 100%;
    /* opacity: 0.07; */
}

.column h1 {
    font-size: 4em;
}

.column .left-bottom {
    padding: 20px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn {
    border: none;
    margin: 0;
    padding: 15px;
    width: fit-content;
    text-transform: capitalize;
    transition-duration: 300ms;
}

.btn:hover {
    cursor: pointer;
}

.btn-black {
    color: white;
    background-color: #323232;
}

.btn-black:hover {
    background-color: rgb(14, 14, 14);
}

.best-seller {
    margin-top: 20px;
}

.best-seller:hover {
    background-color: rgb(204, 204, 204);
}


.btn-transparent {
    width: 300px;
    color: white;
    background-color:rgba(0, 0, 0, 0);
    text-align: center;
    border: 1px solid white;
    border-radius: 100px;
    margin-top: 40px;
    padding: 10px 40px;
    transition-duration: 300ms;
}

.btn-transparent:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 560px) {
    #top-row {
        flex-direction: column;
        align-items: center;
    }
    .title {
        font-size: 1.5em !important;
    }
    .left-bottom label {
        font-size: small;
    }
    .btn-transparent {
        width: 80%;
        margin-top: 10px;
        padding: 6px 20px;
    }
    .column .left-bottom {
        padding: 0;
        bottom: 10px;
    }
    .btn {
        padding: 13px;
        font-size: 0.7em;
    }
}

/* Responsive END */