#container {
    margin-top: 0px;
    height: 100%;
    z-index: -2;
    position: relative;
}

a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* border: 10px solid red; */
    border: none;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}

.column img {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.column h1 {
    font-size: 4em;
    padding: 20px;
    color: white;
    position: absolute;
    bottom: 10px;
}