main {
    padding: 30px;
}

#cart {
    width: 100%;
    border-collapse: collapse;
}

#cart > thead {
    border-bottom: 1px solid rgb(137, 137, 137);
}

#cart td {
    padding-bottom: 20px;
}

.product-img {
    width: 150px;
}

.product-head {
    text-align: left;
    padding-left: 50px;
}

.img-cell {
    width: 0;
}
.info-cell {
    text-align: left;
}
.quantity-cell{
    text-align: center;
}
.total-cell {
    text-align: right;
}

.quantity-btn {
    text-align: center;
    font-size: 15px;
    width: 30px;
    height: 40px;
    padding: 0px;
    border: 1px solid rgb(145, 145, 145);
    background-color: white;
    outline: none;
    cursor: pointer;
    transition-duration: 400ms;
}
.quantity-btn:hover {
    background-color: rgb(223, 223, 223);
}

.quantity-cell > * {
    margin-right: -4px;
}

#quantity {
    text-align: center;
    outline: none;
    font-size: 15px;
    width: 50px;
    height: 40px;
    padding: 10px;
}
