main {
    padding: 30px;
}

#cart {
    width: 100%;
    border-collapse: collapse;
}

#cart > thead, #cart {
    border-bottom: 1px solid rgb(137, 137, 137);
}

#cart td {
    padding-bottom: 20px;
    padding-left: 20px;
}

.product-img {
    width: 150px;
}

.product-head {
    text-align: left;
    padding-left: 50px;
}

.img-cell {
    width: 0;
}
.info-cell {
    font-family: "FoundersGrotesk";
    text-align: left;
}
.quantity-cell{
    text-align: center;
}
.total-cell {
    text-align: right;
}

.quantity-btn {
    text-align: center;
    font-size: 15px;
    width: 30px;
    height: 40px;
    padding: 0px;
    border: 1px solid rgb(145, 145, 145);
    background-color: white;
    outline: none;
    cursor: pointer;
    transition-duration: 400ms;
}
.quantity-btn:hover {
    background-color: rgb(223, 223, 223);
}

.quantity-cell > * {
    margin-right: -4px;
}

.quantity {
    text-align: center;
    outline: none;
    font-size: 15px;
    width: 50px;
    height: 40px;
    padding: 10px;
}

.clear-btn {
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: capitalize;
    background-color: white;
    color: rgb(77, 77, 77);
    border-bottom: 1px solid rgb(77, 77, 77);
}

#cart-bottom {
    width: 100%;
    margin-top: 30px;
    text-align: right;
}

.btn-black {
    padding-right: 50px;
    padding-left: 50px;
}
.quantity-mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .product-img {
        width: 80px;
    }
    .quantity {
        width: 40px;
        height: 25px;
        padding: 5px;
        font-size: 1em;
    }
    .quantity-cell {
        display: none;
    }
    .quantity-mobile {
        display: block;
        margin: 10px 0;
    }
    .quantity-btn {
        width: 30px;
        height: 25px;
        font-size: 1em;
    }
    .info-cell, .total-cell, .clear-btn {
        font-size: 0.8em;
    }
    #main {
        padding: 5px;
    }
}