main {
    padding: 30px;
}

#cart {
    width: 100%;
}


.product-img {
    width: 150px;
}

.product-head {
    text-align: left;
    padding-left: 40px;
}

.img-cell {
    width: 0;
}
.info-cell {
    text-align: left;
}
.quantity-cell{
    text-align: center;
}
.total-cell {
    text-align: right;
}

.quantity-cell > button {
    text-align: center;
    width: 30px;
    height: 40px;
    padding: 7px;
    cursor: pointer;
}

#quantity {
    text-align: center;
    width: 50px;
    height: 40px;
    padding: 10px;
}
