main {
    padding: 60px;
}


#form input {
    padding: 15px;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    margin: 8px 3px;
    outline: none;
    transition-duration: 400ms;
}

#form input:focus {
    border-color:rgb(111, 111, 111);
}

.column {
    width: 100%;
    justify-content: center;
}


a {
    color: black;
    text-decoration: none;
    width: fit-content;
}

.btn-black {
    margin: 0;
    width: 50%;
}