main {
    padding: 60px;
}


.form-input {
    padding: 15px;
    border: 1px solid rgb(214, 214, 214);
    background-color: white;
    border-radius: 5px;
    margin: 8px 3px;
    outline: none;
    transition-duration: 400ms;
}

.form-input:focus {
    border-color: rgb(111, 111, 111);
}

.column {
    width: 100%;
    justify-content: center;
}


a {
    color: black;
    text-decoration: none;
    width: fit-content;
}

.btn-black {
    margin: 0;
    width: 50%;
}

#paypal-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    background-color: 0;
    position: fixed;
    left: 0;
    z-index: 101;
    transition-duration: 500ms;
    top: -500px;
}

#paypal-button-inner-container {
    width: 50%;
    padding: 20px;
    background-color: white;
    border: none;
    border-radius: 2%;
    overflow-y: scroll;
}
#close_btn {
    margin-bottom: 5px;
    width: 100%;
}
.input-label {
    background-color: white;
    position: relative;
    width: fit-content;
    top: 15px;
    left: 10px;
    padding: 0px 10px;
}

@media screen and (max-width: 660px) {
    #form .input-row {
        flex-direction: column;
    }

    main {
        padding: 30px;
    }
    #paypal-button-container {
        padding: 20px;
    }
    #paypal-button-inner-container {
        width: 100%;
    }
    .btn-black {
        width: 100%;
    }
}
