#cookies {
    display: none;
    position: fixed;
    padding: 20px;
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    z-index: 102;
    bottom: -400px;
    transition-duration: 400ms;
    transition-delay: 300ms;
}

#cookies .btn {
    width: 200px;
}

#cookies .row {
    align-items: center;
    justify-content: space-between;
}

#cookies .column {
    flex-grow: 0;
}

#cookies-text {
    width: 70%;
}

@media screen and (max-width: 600px) {
    #cookies .row {
        flex-direction: column;
    }
    #cookies-text {
        font-size: smaller;
        margin-bottom: 20px;
        width: 90%;
    }
    #cookies .column {
        width: 100%;
    }
    #cookies .btn {
        width: 100%;
    }
}