#footer {
    font-size: 16px;
    border-top: 1px solid #e0e0e0;
    background-color: #f4f4f4;
    padding: 40px;
    text-align: center;
}

#footer > .paragraph { /* Direct child of footer */
    margin-top: 20px;
    padding: 0 200px;
}

#footer a { /* Indirect Child of footer */
    text-decoration: none;
    color: black;
    font-style: italic;
}
.contact_us {
    font-weight: bold;
}
.copyright {
    font-size: 13px;
    margin-top: 20px;
    padding: 10px 200px;
    border-top: 1px solid #e0e0e0;
}


.bottom-links > a {
    font-size: 13px;
    text-decoration: underline !important;
}

/* Responsive */
@media screen and (max-width: 900px) {
    #footer {
        font-size: 13px;
    }
    #footer > .paragraph {
        padding: 0;
    }
    #footer {
        padding: 10px;
    }
    .copyright {
        font-size: 10px;
        padding: 10px 0px;
    }
}
/* Responsive END */