* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

@font-face {
    font-family: FoundersGrotesk;
    src: url("/static/fonts/FoundersGrotesk-Regular.otf") format("opentype");
}
@font-face {
    font-family: BauerBodoni-Roman;
    src: url("/static/fonts/Bauer Bodoni Roman.otf") format("opentype");
}

@font-face {
    font-family: BodoniClassic-Italic;
    src: url("/static/fonts/Bodoni Classic Italic.ttf");
}
@font-face {
    font-family: BodoniClassic-Bold-Italic;
    src: url("/static/fonts/Bodoni Classic Ad Bold Italic.ttf");
}
@font-face {
    font-family: Helserif-Book;
    src: url("/static/fonts/Helserif-Book.ttf");
}

#container {
    /* margin: 0px; */
    top: 100px;
    position: relative;
    width: 100%;
}

#header {
    /* padding: 10px 0px; */
    /* padding-top: 10px; */
    font-family: "FoundersGrotesk";
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

/* <------- NAVBAR ------> */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 0 10px;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px rgba(92, 92, 92, 0.7);
    position: relative;
    z-index: 99;
}

#nav2 {
    position: absolute;
    display: none;
    top: 0;
    z-index: 99;
    box-shadow: 0 5px 15px rgba(92, 92, 92, 0.7);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    text-transform: uppercase;
}

nav .dropdown {
    width: 100%;
    padding: 10px 10px;
    position: absolute;
    margin-top: 40px;
    left: 0;
    flex-direction: row;
    background-color: whitesmoke;
    box-shadow: 0 5px 15px rgba(92, 92, 92, 0.7);
    display: none;
}

.nav-item-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ul.nav-left {
    align-items: center;
} */

nav li {
    margin-left: 10px;
    cursor: pointer;
    user-select: none;
}
nav a {
    text-decoration: none;
    color: black;
}
.nav-item {
    padding: 20px 10px;
    transition: border-bottom-color 250ms ease;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    font-weight: bold;
}
.nav-item:hover {
    border-bottom-color: black;
}
.nav-logo {
    max-width: 110px;
}

/* NAVBAR END */


/* <------ SEARCH ------> */
.fa-search, .fa-times {
    font-size: 20px;
    color: black;
}

#search {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 0 10px;
    background-color: whitesmoke;
    width: 100%;
    z-index: 98;
    transform: translateY(-70px);
    transition-property: transform;
    transition-duration: 500ms;
    box-shadow: 0 5px 15px rgba(92, 92, 92, 0.7);
}

#search .line {
    width: 100%;
    background-color: rgb(145, 145, 145);
    height: 3px;
}

#search .row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    margin: 10px;
    background-color: inherit;
}

#search .column-1, .column-3 {
    margin-left: 10px;
}
#search .column-2 {
    width: 100%;
}

.btn-search {
    outline: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

#search_input {
    padding: 10px;
    border: none;
    width: 100%;
    background-color: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: border-color 200ms ease;
    outline: none;
}


#search_input:focus {
    border-color: rgba(0, 0, 0, 1);
}

/* SEARCH END */

button:hover {
    cursor: pointer;
}

.btn-toggle-nav {
    display: none;
    color: black;
    transition-duration: 1s;
}

/* Animation */
@keyframes nav-show {
    from {}
    to {
        transform: rotate(-360deg);
    }
}

@keyframes nav-hide {
    from {}
    to {
        transform: rotate(360deg);
    }
}

.nav-show-rotate {
    animation-name: nav-show;
    animation-duration: 1s;
}
.nav-hide-rotate {
    animation-name: nav-hide;
    animation-duration: 1s;
}
/* Animation END */

/* Responivness */

@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        flex-direction: column;
        align-items: inherit;
        width: 100%;
        top: -600px;
        transition-duration: 500ms;
        transition-property: top;
    }
    #nav2 {
        display: flex;
        width: 100%;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        text-align: center;
        width: 100%;
        margin: 20px 0px;
    }
    .nav-item {
        padding: 0;
    }
    .btn-toggle-nav {
        display: block;
        padding: 0;
        border-bottom: 0px;
        /* position: absolute;
        top: 15px;
        right: 15px; */
        /* z-index: 101; */
    }
    .nav-item-logo {
        margin: 0 !important;
    }

    nav .dropdown {
        position: relative;
        flex-direction: column;
        position: initial;
        box-shadow: none;
        margin-top: 10px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }
    nav .dropdown li {
        padding: 10px 10px;
        margin: 0;
    }
}
