.row {
}

.column {
    /* border: 1px solid red; */
    /* flex-grow: 1;
    flex-basis: 0; */
}

.column-left {
    width: 55%;
    padding: 10px;
}

.column-right {
    width: 45%;
    padding: 20px;
}

.carousel-cell {
    width: 100%;
}
.cell-img {
    width: 100%;
}
.btn-black {
    width: 100%;
}


.column-right > div {
    margin: 10px 0;
}
.title {
}
.price {
}
.details {
}
.coupon {
    margin-bottom: 25px !important;
}
.product-sizes {
    margin-bottom: 20px !important;
}
.product-sizes input[type="radio"] {
    display: none;
}
.product-sizes label {
    border: 1px solid rgba(80, 80, 80, 0.5);
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
    transition-duration: 200ms;
}
@media screen and (max-width: 560px) {
    .row {
        flex-direction: column;
    }
    .column {
        width: 100%;
    }
}