<!-- 
    wave Hi, I’m Shail Murtaza.
    I have created this website from scratch without help of any framework on front end.

    📫 How to reach me ? shailmurtaza@gmail.com
    📫 How to reach me ? (WhatsApp) +92 321 6295534
    📫 How to reach me ? (Telegram Username) @ShailMurtaza
 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css">
    <link rel="shortcut icon" href="/static/favicon.webp" type="image/x-icon">

    <script src="/static/js/get_element.js"></script>
    <title>{{TITLE}}</title>
    {% block head %}
    {% endblock %}
</head>
<body onload="after_load()">
    <section id="header">
        <nav id="nav" class="nav">
            <ul class="nav-left">
                <li class="nav-item-logo">
                    <span></span>
                    <a href="/" style="border: none;padding: 0;">
                        <img src="/static/GRABALTY-final.png" class="nav-logo" alt="LOGO">
                    </a>
                </li class="nav-item">
                <li class="nav-item"><a class="nav-link" href="/user">Update Info</a></li>
            </ul>
            <ul class="nav-right">
                <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart"><i class="fa-regular fa-bag-shopping fa-lg"></i></a>
                </li>
            </ul>
        </nav>
        <nav id="nav2" class="nav">
            <ul class="nav-left">
                <li class="nav-item-logo">
                    <span></span>
                    <a href="/" style="border: none;padding: 0;">
                        <img src="/static/GRABALTY-final.png" class="nav-logo" alt="LOGO">
                    </a>
                    <a id="btn-toggle-nav" href='#nav-toogle' class="btn-toggle-nav" onclick="toggleNav()"><i class="far fa-bars"></i></a>
                </li>
            </ul>
        </nav>
    </section>
<main id="container">
    {% block main %}
    {% endblock %}
</main>
    <script src="/static/js/header.js"></script>
</body>
</html>