<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="shortcut icon" href="/static/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/msg.css">
    <script src="/static/js/get_element.js"></script>
</head>
<body>
    <main class="main">
        <div id="msg_div" class="alert" role="alert"></div>

        {% if PAGE == "LOGIN" %}
        <form action="" method="POST">
            <img src="/static/GRABALTY-final.png" alt="GRABALTY" class="gr-logo">
            <input type="email" name="email" placeholder="Email Address" class="form-field" required autocomplete="off">
            <input type="password" name="password" placeholder="Password" class="form-field" required>
            <button type="submit" class="form-field">LOGIN</button>
            <a href="/user/signup" class="link">Do not have account?</a>
            <a href="/" class="link">Go to Homepage</a>
        </form>
        {% else %}
        <form action="" method="POST" onsubmit="return submit_form()">
            <img src="/static/GRABALTY-final.png" alt="GRABALTY" class="gr-logo">
            <div class="row input-row">
                <div class="column"><input type="text" name="f_name" placeholder="First Name" value="" class="form-field" required></div>
                <div class="column"><input type="text" name="l_name" placeholder="Last Name" value="" class="form-field"></div>
            </div>
            <div class="row input-row">
                <div class="column"><input type="email" name="email" placeholder="Email Address" value="" class="form-field" required></div>
            </div>
            <div class="row input-row">
                <div class="column">
                    <input type="password" name="password" placeholder="Password" value="" class="form-field" required>
                </div>
                <div class="column">
                    <input type="password" name="password2" placeholder="Confirm Password" value="" class="form-field" required>
                </div>
            </div>
            <div class="row input-row">
                <div class="column"><input type="text" name="address" placeholder="Full Address" value="" class="form-field" required></div>
            </div>
            <div class="row input-row">
                <div class="column"><input type="text" name="city" placeholder="City" value="" class="form-field" required></div>
                <div class="column"><input type="text" name="postal_code" placeholder="Postal Code" value="" class="form-field" required></div>
            </div>
            <div class="row input-row">
            <div class="column"><input type="text" name="phone" placeholder="Phone" value="" class="form-field" required></div>
            </div>
            <button type="submit" class="form-field">SIGNUP</button>
            <a href="/user/login" class="link">Already have account?</a>
            <a href="/" class="link">Go to Homepage</a>
        </form>
        <script>
            const passwords = document.querySelectorAll("input[type=password]")
            function submit_form() {
                if (passwords[0].value == passwords[1].value) return true
                msg("Enter same passwords", "danger")
                passwords[0].focus()
                return false
            }
        </script>
        {% endif %}
    </main>
    <script src="/static/js/main.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        msg("{{message}}", "{{category}}")
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>
