<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{TITLE}}</title>
    <link rel="shortcut icon" href="/static/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/msg.css">
    <script src="/static/js/get_element.js"></script>
    <style>
        #code {
            display: none;
        }
        input[type="password"] {
            display: none;
        }
    </style>
</head>

<body>
    <main class="main">
        <div id="msg_div" class="alert" role="alert"></div>

        <form>
            <img src="/static/GRABALTY-final.png" alt="GRABALTY" class="gr-logo">
            <input type="email" name="email" id="email" placeholder="Email Address" class="form-field" required autocomplete="off">
            <input type="text" name="code" placeholder="Code" class="form-field" id="code">
            <input type="password" placeholder="Password" class="form-field">
            <input type="password" placeholder="Confirm Password" class="form-field">
            <button type="button" onclick="submit_email()" id="submit_btn" class="form-field">Get Code</button>
            <a href="/user/login" class="link">Login</a>
            <a href="/" class="link">Go to Homepage</a>
        </form>
    </main>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/reset_password.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        msg("{{message}}", "{{category}}")
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>

</html>