{% extends "layout_user.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" href="/static/css/msg.css">
{% endblock %} {% block main %}
<main class="main" style="margin-top: 10%;">
    <div id="msg_div" class="alert" role="alert"></div>

    <form action="/user/track_order" method="POST">
        <div class="row">
            <div class="column">
                <h2 class="title">Track Your Order</h2>
            </div>
        </div>
        <div class="row input-row">
            <div class="column"><label class="input-label">Email</label><input type="email" name="email" placeholder="Email Address" class="form-field" required></div>
        </div>
        <div class="row input-row">
            <div class="column"><label class="input-label">Invoice Number</label><input type="text" name="invoice" placeholder="Invoice Number" class="form-field" required></div>
        </div>
        <button type="submit" class="form-field">TRACK</button>
    </form>
</main>
<script src="/static/js/main.js"></script>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <script>
        msg("{{message}}", "{{category}}")
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}