{% extends "admin/layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/admin/form.css">
<link rel="stylesheet" href="/static/css/pagination.css" />
{% endblock %} {% block main %}
<h2>All Images</h2>
<table class="product_list" border="0">
<thead>
<tr>
    <th>#</th>
    <th>IMAGE</th>
    <th>TITLE</th>
    <th>ACTIONS</th>
</tr>
</thead>
<tbody>
{% for i in range(images.items|length) %}
<tr>
    <td>{{i+1}}</td>
    <td><img src="/static/product_images/{{images.items[i].filename}}" alt=" " class="img"></td>
    <td>{{images.items[i].title}}</td>
    <td>
        <button onclick="delete_image('{{images.items[i].id}}')" class="btn delete">DELETE</button>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<div class="row" style="background-color: white;margin-bottom: 10px;">
    <div class="column clm-center">
        <!-- <button class="btn btn-black">VIEW MORE</button> -->
        <div class="pagination">
            {% for i in images.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                {% if i == images.page %}
                    <button class="btn active">
                {% else %}
                    <button class="btn link" onclick="page_go('{{i}}')">
                {% endif %}
                {% if i == None %}
                    ...
                {% else %}
                    {{i}}
                {% endif %}
                </button>
            {% endfor %}
        </div>
    </div>
</div>

<script src="/static/js/go_url.js"></script>
<script>
    function delete_image(id) {
        let del = confirm("Do you wants to delete this image?")
        if (del) {
            go_url("/admin/delete/image/" + id)
        }
    }

    function page_go(num) {
        if (num != "None")
            window.location.href = `/admin/images/${num}`
    }
</script>
{% endblock %}
