<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="shortcut icon" href="/static/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <main>
        <form>
            <img src="/static/GRABALTY-final.png" alt="GRABALTY">
            <input type="text" name="uname" placeholder="Username" class="form-field">
            <input type="password" name="uname" placeholder="Password" class="form-field">
            <button type="submit" class="form-field">LOGIN</button>
            <a href="/">Go to Homepage</a>
        </form>
    </main>
</body>
</html>
