{% extends "admin/layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/admin/form.css">
<link rel="stylesheet" href="/static/css/overlay.css">
<link rel="stylesheet" href="/static/admin/popup.css">
{% endblock %} {% block main %}
<h2>Update Home Main Collection</h2>
<form action="" method="POST">
<table>
    <tr><td><button type="button" class="btn btn-add" onclick="show_popup()">Search Products</button></td></tr>
    <tr><td><button type="button" class="btn" id="save">SAVE</button></td></tr>
</table>
</form>

<div id="popup" class="popup">
    <h2>Select Product</h2>
    <input type="text" id="prd_search_input" class="search_input" placeholder="SEARCH">
    <div id="search_div">
    </div>
    <button class="btn btn-search" onclick="show_prd()">SEARCH</button>
    <button class="btn btn-cancel" onclick="hide_popup()">CANCEL</button>
</div>

<div id="overlay"></div>
<script src="/static/admin/main_collection_home.js"></script>
{% endblock %}