{% extends "admin/layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/admin/form.css">
<link rel="stylesheet" href="/static/admin/popup.css">
<link rel="stylesheet" href="/static/css/overlay.css">
<link rel="stylesheet" href="/static/css/pagination.css">
<link rel="stylesheet" href="/static/admin/orders.css">
{% endblock %} {% block main %}

<table class="product_list" border="0">
<thead>
<tr>
    <th>#</th>
    <th>Name</th>
    <th>Note</th>
    <th>PRICE</th>
    <th>Date</th>
    <th>STATUS</th>
</tr>
</thead>
<tbody id="orders" class="tbody-hover"></tbody>
</table>

<div class="row" style="background-color: white;margin-bottom: 10px;">
    <div class="column clm-center">
        <div class="pagination">
            {% for i in orders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                {% if i == orders.page %}
                    <button class="btn active">
                {% else %}
                    <button class="btn link" onclick="page_go('{{i}}')">
                {% endif %}
                {% if i == None %}
                    ...
                {% else %}
                    {{i}}
                {% endif %}
                </button>
            {% endfor %}
        </div>
    </div>
</div>

<div id="popup" class="popup">
    <h2>ORDER ID# <span id="ord_id"></span></h2>
    <h3 id="not_found" class="not_found">Not Any Product Found</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>image</th>
                <th>title</th>
                <!-- <th>category</th> -->
                <th>price</th>
                <th>quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody id="products"></tbody>
    </table>
    <br><br>
    <table>
        <tr><th>Full Name</th><td id="name"></td></tr>
        <tr><th>Email Address</th><td id="email"></td></tr>
        <tr><th>Phone Number</th><td id="phone"></td></tr>
        <tr><th>Address</th><td id="address"></td></tr>
        <tr><th>City</th><td id="city"></td></tr>
        <tr><th>Postal Code</th><td id="postal_code"></td></tr>
        <tr><th>note</th><td id="note"></td></tr>
        <tr><th>status</th><td id="status"></td></tr>
        <tr><th>date</th><td id="date"></td></tr>
        <tr><th>total price:</th><td id="total_price"></td></tr>
    </table>
    <button class="btn btn-add" id="btn_order_status" onclick="mark_order()"></button>
    <br><br>
    <button class="btn btn-cancel" onclick="hide_popup()">CLOSE</button>
</div>
<div id="overlay"></div>
<script>
    const orders_json = {{orders_json | tojson}}
    const images_json = {{images_json | tojson}}
    const page_num = {{orders.page}}

    const page_name = "admin/orders"
    function page_go(num) {
        let url = `/${page_name}/${num}`
        if (num != "None")
            window.location.href = url
    }
</script>
<script src="/static/admin/orders.js"></script>
{% endblock %}