{% extends "admin/layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/admin/form.css">
<link rel="stylesheet" href="/static/admin/popup.css">
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/pagination.css">
<link rel="stylesheet" href="/static/css/overlay.css">
{% endblock %} {% block main %}

<table class="product_list" border="0">
<thead>
<tr>
    <th>#</th>
    <th>Name</th>
    <th>Note</th>
    <th>PRICE</th>
    <th>STATUS</th>
</tr>
</thead>
<tbody id="orders" class="tbody-hover"></tbody>
</table>

<div class="row" style="background-color: white;margin-bottom: 10px;">
    <div class="column clm-center">
        <div class="pagination">
            {% for i in orders.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
                {% if i == orders.page %}
                    <button class="btn active">
                {% else %}
                    <button class="btn link" onclick="page_go('{{i}}')">
                {% endif %}
                {% if i == None %}
                    ...
                {% else %}
                    {{i}}
                {% endif %}
                </button>
            {% endfor %}
        </div>
    </div>
</div>

<div id="popup" class="popup">
    <h2>ORDER ID# <span id="ord_id" style="margin: 0;"></span></h2>
    <h3 id="not_found" style="display: none; background-color: rgb(255, 50, 50);color: white;">Not Any Product Found</h3>
    <table style="background-color: white;">
        <thead>
            <tr>
                <th>#</th>
                <th>image</th>
                <th>title</th>
                <th>category</th>
                <th>price</th>
                <th>quantity</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody id="products"></tbody>
    </table>
</div>
<div id="overlay"></div>
<script>
    const orders_json = {{orders_json | tojson}}
    const products_json = {{products_json | tojson}}

    const page_name = "admin/orders"
    function page_go(num) {
        let url = `/${page_name}/${num}`
        if (num != "None")
            window.location.href = url
    }
</script>
<script src="/static/admin/orders.js"></script>
{% endblock %}