{% extends "admin/layout.html" %} {% block head %}
<link rel="stylesheet" href="/static/admin/products.css">
{% endblock %} {% block main %}
<h2>All Products</h2>
<table class="product_list" border="1">
<thead>
<tr>
    <th>#</th>
    <th>IMAGE</th>
    <th>TITLE</th>
    <th>PRICE</th>
    <th>ACTIONS</th>
</tr>
</thead>
<tbody>
{% for i in range(products|length) %}
<tr>
    <td>{{i+1}}</td>
    <td><img src="/static/product_images/{{images[i]}}" alt=" " class="img"></td>
    <td>{{products[i].title}}</td>
    <td>{{products[i].price}}</td>
    <td>
        <button onclick="go_url('/admin/update/product/{{products[i].id}}')" class="btn edit">UPDATE</button><br>
        <button onclick="delete_product('{{products[i].id}}')" class="btn delete">DELETE</button>
    </td>
</tr>
{% endfor %}
</tbody>
</table>
<script src="/static/js/go_url.js"></script>
<script>
    function delete_product(id) {
        let del = confirm("Do you wants to delete this product?")
        if (del) {
            go_url("/admin/delete/product/" + id)
        }
    }
</script>
{% endblock %}
