table {
    background-color: white;
    margin-bottom: 10px;
}

th {
    text-transform: uppercase;
}

td, th {
    text-align: left;
}

.category {
    text-transform: uppercase;
}

.status {
    color: white;
    text-align: center;
}

.pending {
    background-color: rgb(255, 46, 46);
}

.done {
    background-color: hsl(240, 100%, 58%);
}
