table {
    background-color: white;
    margin-bottom: 10px;
}

th {
    text-transform: uppercase;
}

td, th {
    text-align: left;
}

.category {
    text-transform: uppercase;
}

span {
    margin: 0;
}
