.popup {
    position: fixed;
    display: none;
    background-color: rgb(211, 211, 211);
    width: 95%;
    padding: 20px;
    margin: auto;
    left: 0;
    right: 0;
    top: -100%;
    transition-duration: 500ms;
    transition-delay: 300ms;
    border-radius: 15px;
    box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.8);
    z-index: 102;
}

#img_search_input {
    margin-bottom: 10px;
    border: none;
    padding: 10px;
}

.popup #search_div {
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    text-align: center;
}

.popup .search_row {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
    transition-duration: 200ms;
    cursor: pointer;
}

.popup .not-found {
    font-weight: bold;
    color: red;
}

.popup .search_row:hover {
    background-color: rgb(219, 219, 219);
}

.popup span {
    margin-left: 20px;
}

.popup .img {
    height: 60px;
}

.btn {
    color: white;
}
.btn-search {
    background-color: rgb(28, 96, 255);
}

.btn-search:hover {
    background-color: rgb(0, 62, 206);
}

.popup .btn-cancel {
    background-color: rgb(234, 86, 86);
}

.popup .btn-cancel:hover {
    background-color: rgb(231, 0, 0);
}
